yabai -m signal --add label=tile_pip_on_create event=window_created title="^Picture in Picture$" action="$HOME/.config/yabai/tile-pip-window"
yabai -m signal --add label=tile_pip_on_title_change event=window_title_changed title="^Picture in Picture$" action="$HOME/.config/yabai/tile-pip-window"
