          - name: Terminal
            key: '0'
            command: 'run-shell "$HOME/bin/tmux-session-template new #{session_id} terminal #{pane_id}"'
          - name: Codex
            key: '1'
            command: 'run-shell "$HOME/bin/tmux-session-template new #{session_id} codex #{pane_id}"'
          - name: Neovim
            key: '2'
            command: 'run-shell "$HOME/bin/tmux-session-template new #{session_id} nvim #{pane_id}"'
          - name: Tuxedo
            key: '3'
            command: 'run-shell "$HOME/bin/tmux-session-template new #{session_id} tuxedo #{pane_id}"'
          - name: Awrit
            key: a
            command: 'run-shell "$HOME/bin/tmux-session-template new #{session_id} awrit #{pane_id}"'
