set -g window-status-format '#[fg=#{@thm_overlay_0},nobold]#{?#{==:#W,terminal},~,#W}#[default]'
set -g window-status-current-format '#[fg=#{E:@dotfiles_status_accent},bold]#{?#{==:#W,terminal},~,#W}#[default]'
