alt - 0x32 : ~/.config/skhd/focus_app.sh "Ghostty"  # alt + backtick
alt - 1 : ~/bin/hotkeys app-focus 1 "@browser"
# alt - 2 : ~/bin/hotkeys app-focus 2 "Codex"
alt - 2 : ~/bin/hotkeys app-focus 2 "@editor"
alt - 3 : ~/bin/hotkeys app-focus 3 "Microsoft Teams"
alt - 4 : ~/bin/hotkeys app-focus 4 "Slack"
