alt - 0x32 : ~/.config/skhd/focus_app.sh "{{ .preferences.terminalApp }}"  # alt + backtick
alt - 1 : ~/bin/hotkeys app-focus 1 "{{ .preferences.appSlots.slot1 }}"
alt - 2 : ~/bin/hotkeys app-focus 2 "{{ .preferences.appSlots.slot2 }}"
alt - 3 : ~/bin/hotkeys app-focus 3 "{{ .preferences.appSlots.slot3 }}"
alt - 4 : ~/bin/hotkeys app-focus 4 "{{ .preferences.appSlots.slot4 }}"

# -- Focus open normal tmux windows by creation order --
fn - 1 : ~/.config/skhd/focus-open-tmux-window.sh 1
fn - 2 : ~/.config/skhd/focus-open-tmux-window.sh 2
fn - 3 : ~/.config/skhd/focus-open-tmux-window.sh 3
fn - 4 : ~/.config/skhd/focus-open-tmux-window.sh 4
fn - 5 : ~/.config/skhd/focus-open-tmux-window.sh 5
fn - 6 : ~/.config/skhd/focus-open-tmux-window.sh 6
fn - 7 : ~/.config/skhd/focus-open-tmux-window.sh 7
fn - 8 : ~/.config/skhd/focus-open-tmux-window.sh 8
fn - 9 : ~/.config/skhd/focus-open-tmux-window.sh 9
fn - tab : ~/.config/skhd/focus-open-tmux-window.sh cycle
