alt - 0x2A : ~/bin/hotkeys presentation toggle  # alt + backslash
alt + shift - 0x2A : ~/bin/hotkeys zen toggle  # alt+shift+backslash

alt + shift - 0x32 : ~/bin/hotkeys terminal new  # alt + shift + backtick
